<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Buzz Service Provider Test Suite">
            <directory>./tests/MarcW/Silex/Provider</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./lib/MarcW/Silex/Provider/</directory>
        </whitelist>
    </filter>
</phpunit>
